.mainContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 1;

    background-color: rgba(9, 46, 91, .45);

    display: flex;
    justify-content: center;
    align-items: center;
}

.paymentContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: white;
    border: 3px solid #D8E8F8;
    overflow: hidden;

    border-radius: 10px;
}

@media (max-width: 700px) { .paymentContainer { width: 90%; } }

.mainContainer .paymentHeader {


    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0E4D9A;
    padding: 10px;   

    border-radius: 10px 10px 0 0;
}

.mainContainer .paymentHeader label {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

.mainContainer .paymentHeader button {
    border-radius: 10px;
    border: 2px solid red;
    background-color: #F8D8D8;
    color: red;
    font-weight: 700;
    padding: 5px;
}

.mainContainer .orderInfos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.mainContainer .orderInfos .orderDetails label:first-child {
    font-size: 1.2rem;
    font-weight: 700;
}

.mainContainer .orderInfos .orderDetails label:last-child {
    font-size: 0.8rem;
    color: #7D96B8;
}

.mainContainer .orderInfos .orderFinalPrice {
    text-align: right;
}

.mainContainer .orderInfos .orderFinalPrice label:first-child {
    font-size: 1.2rem;
    font-weight: 700;
    color: #0E4D9A;
}

.mainContainer .orderInfos .orderFinalPrice label:last-child {
    font-size: 0.8rem;
    color: #7D96B8;
}

.mainContainer .paymentSection {
    background-color: white;
    
}

.mainContainer .paymentSection .formGroup {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mainContainer .paymentSection .formGroup label {
    font-size: 11px;
    font-weight: 600;
    color: #5F7FA8;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.mainContainer .paymentSection .paymentSecured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 0.8rem;
    padding: 10px;
    border-radius: 10px;
}

.mainContainer .paymentSecured button {
    border-radius: 10px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #D8E8F8;
    font-weight: 700;
    border: 2px solid #0E4D9A;
}
